.popup {
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;

    transition: all 0.3s;

    &__content {
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.25);
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
        display: table;
        overflow: hidden;
        opacity: 0;
        transition: all .5s .2s;
    }

    &__left {
        width: 33.3333%;
        display: table-cell;

        @include respond(tab-land) {
            width: 100%;
            display: block;
        }
    }

    &__img {
        width: 100%;
        display: block;

        @include respond(tab-land) {
            width: 50%;
            display: inline-block;
        }
    }

    &__right {
        width: 66.66667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
        
        @include respond(tab-land) {
            width: 100%;
            display: block;
        }
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
            transition: all .4s;
        }

        &:hover {
            color: $color-primary;
        }
    }
}
